*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header */
body {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.heading {
  width: 80%;
  height: 130px;
  margin: 30px auto 0;
  /* background: #E579E6; */
  position: relative;
}

.heading img {
  height: 70px;
  margin-bottom: 37px;
  border-right: 1px solid #D7D7D7;
  padding-right: 15px;
}
.jumbotron {
  width: 80%;
  height: 500px;
  margin: 30px auto 0;
  background:#E1D67A;
}

.link {
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
  color: #D7D7D7;
}
#feature {
  margin-left: 0;
}

/*  /header */

/* layoout main */
main {
  width: 80%;
  margin: 30px auto 0;
  background: #0086FF;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-row {
  width: 100%;
  height: 80px;
  background: #ABCFE7;

}

.left-column, 
.right-column {
  width: 21.5%;
  height: 430px;
  background: #ABCFE7;
  margin: 20px 0 20px 0;
}

.centre-column {
  width: calc(57% - 20px);
  height: 430px;
  background: #ABCFE7;
  margin: 20px 10px;
}


[class*="-column"] {
   float: left;  
}

/* end layout main */

/* layout footer */
.footer {
  width: 80%;
  height: 60px;
  margin: 30px auto 30px;
  background: #8801FE;
}
/* end layout footer */